@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-backgroundColor;
  width: 100vw;
  margin: 0;
  padding: 0;
}

.image-gallery-description {
  display: none !important;
}
